@import url("https://fonts.cdnfonts.com/css/new-walt-disney-font");
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(180deg, #4787c8 0%, #232074 100%);
  color: #fdfdfd;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: Comic Neue, sans-serif;
  font-size: larger;
}

h1 {
  font-family: "New Walt Disney Font", sans-serif;
  font-size: 70px;
}

#actions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
#start-btn {
  padding: 5px 24px;
  border-radius: 10px;
  font-family: Comic Neue, sans-serif;
  font-size: medium;
}

#next-btn {
  padding: 5px 24px;
  border-radius: 10px;
  font-family: Comic Neue, sans-serif;
  font-size:medium;
  display: none;
}

#answers {
  display: grid;
  justify-content: center;
  grid-template-columns: 15% 15%;
  gap: 10px;
  padding: 5px;
}

/* not perfect but it works */
.visible {
  display: none !important;
}

.btn {
  border: 1px solid #312e81;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s;
  font-family: Comic Neue, sans-serif;
  font-size:medium;
}
.btn:hover {
  background-color: black;
  color: #fff;
}

footer {
position: fixed;
bottom: 0;
width: 100%;
font-size: small;
}